
// GLOBAL VARS
$base-unit: 12;

// MEDIA QUERIES
@mixin sm-screens {
  font-size: 14px;
  @media (max-width: 599px) { @content; }
}
@mixin md-screens {
  @media (min-width: 600px) { @content; }
}
@mixin lg-screens {
  @media (min-width: 900px) { @content; }
}
@mixin xl-screens {
  @media (min-width: 1600px) { @content; }
}

// TYPE VARS
$xl-scaler: 8vw;
$lg-scaler:4vw;
$sm-scaler: 2vw;
$xs-type-min: unquote(($base-unit * 1.15) + 'px');
$xs-type-max: unquote(($base-unit * 1.15) + 'px');
$sm-type-min: unquote(($base-unit * 1.2) + 'px');
$sm-type-max: unquote(($base-unit * 1.4) + 'px');
$lg-type-min: unquote(($base-unit * 1.6) + 'px');
$lg-type-max: unquote(($base-unit * 1.7) + 'px');
$xl-type-min: unquote(($base-unit * 1.7) + 'px');
$xl-type-max: unquote(($base-unit * 10) + 'px');

// FLUID TYPE 
.xs-type { 
  font-size: clamp( $xs-type-min, $sm-scaler, $xs-type-max ); 
  line-height: 140%;
}
.sm-type { 
  font-size: clamp( $sm-type-min, $sm-scaler, $sm-type-max ); 
  line-height: 140%;
}
.lg-type { 
  font-size: clamp( $lg-type-min, $lg-scaler, $lg-type-max ); 
  line-height: 140%;
}
.xl-type { 
  font-size: clamp( $xl-type-min, $xl-scaler, $xl-type-max );
  line-height: 100%;
  letter-spacing: -1px;
}
.justify {
  text-align: justify;
}
// COLOR
$green: #24FF00;
$light-gray: #F0F0F0;
$purple: #9494FF;
$yellow: #F0C734;
$tan: #E1DAC0;

// FONTS
@font-face {
  font-family: "everett";
  src: url("../fonts/everett-regular-web.woff");
}

$font-family: "everett", Helvetica, sans-serif;


// RESET
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.difference-text {
  color: white;
  mix-blend-mode: difference;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection { 
  color: $purple;
  background-color: $green;
}
::selection { 
  color: $purple;
  background-color: $green;  
 }


 .mt1 {
  margin-top: unquote(($base-unit * 1) + 'px');
}
.mt2 {
  margin-top: unquote(($base-unit * 2) + 'px');
}
.mt3 {
  margin-top: unquote(($base-unit * 3) + 'px');
}
.mt4 {
  margin-top: unquote(($base-unit * 4) + 'px');
}
.mt5 {
  margin-top: unquote(($base-unit * 5) + 'px');
}
 .mt6 {
  margin-top: unquote(($base-unit * 6) + 'px');
}
.mt7 {
  margin-top: unquote(($base-unit * 7) + 'px');
}
.mt8 {
  margin-top: unquote(($base-unit * 8) + 'px');
}
.mt9 {
  margin-top: unquote(($base-unit * 9) + 'px');
}
.mt10 {
  margin-top: unquote(($base-unit * 10) + 'px');
}

/*  =========================================================================
    My stuff
========================================================================== */

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'kern' 1, 'pnum' 1, 'liga' 1;
  font-kerning: normal;
  font-synthesis: none;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.site-wrapper,
.site-content {
  min-height: 100%;
  /* height: 100vh; */
  margin: 0;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
  font-family: $font-family;
}

body {
  background-color: $green;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}
a.dif-link {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.m-l-r {
  padding: 0 unquote(($base-unit * 2) + 'px');
}
hr {
  display: block;
  width: 100%;
  margin: 0 0 unquote(($base-unit * 2) + 'px') 0;
  border: 0;
  border-bottom: 2px solid black;
}

vr {
  display: block;
  height: 100%;
  margin: 0;
  border: 0;
  border-bottom: 2px solid black;
}
.max-full-vh {
  max-height: 100vh;
  overflow: hidden;
}
.full-vh {
  min-height: 100vh;
}

.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}

.full-vh {
  min-height: 100vh;
}
.eighty-vh {
  min-height: 80vh;
}
.hp-hero-vh {
  min-height: 90vh;
  @include md-screens {  
    min-height: 100vh;
  }
}

.br-at-xl {
  display: none;
  @include xl-screens {    
    display: inline;
  }
}
.p-top {
 padding-top: unquote(($base-unit * 2) + 'px'); 
}
.mb-1 {
  margin-bottom: unquote(($base-unit * 1) + 'px');
}
.mb-2 {
  margin-bottom: unquote(($base-unit * 2) + 'px');
}
.mb-3 {
  margin-bottom: unquote(($base-unit * 3) + 'px');
}
.mb-4 {
  margin-bottom: unquote(($base-unit * 4) + 'px');
}

.sm-screen-only {
  display: none;
  @include sm-screens() {
    display: block;
  }
}
// GRID

.container {
  display: grid;  
}
.gutters {
  column-gap: 48px;
}
.one-col {
  grid-template-columns: repeat(1,1fr);
}

.two-col {
  grid-template-columns: repeat(1,1fr);
  @include md-screens {    
    grid-template-columns: repeat(2,1fr);
  }
}
.mobile-two-col {
  grid-template-columns: repeat(2,1fr);
}

.three-col {
  grid-template-columns: repeat(3,1fr);
}
.twelve-col {
  grid-template-columns: repeat(12,1fr);
}

.four-col {
  grid-template-columns: repeat(4,1fr);
}

.twenty-four-col {
  grid-template-columns: repeat(24,1fr);
}
.one-to-twenty-col {
  grid-column: 1 / 22;
}
.three-fourth-col {
  grid-column: 1 / 5;
  @include md-screens {    
    grid-column: 1 / 4;
  }
}
.four-four-col {
  grid-column: 1 / 5;
}

.align-end {
  align-self: end;
}




// FOOTER STYLES
.say-hi {
  margin: unquote(($base-unit * 12) + "px") 0;
}
.footer {
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  margin-top: unquote(($base-unit * 6) + "px");
  svg {
    max-width: 100%;
    max-height: 30px;
    overflow: visible;
    align-self: end;
    @include md-screens() {
      max-height: 50px;
    }
  }
 
  .links-1 {
    // grid-column: 6 / 8;
    // align-self: end;
    display: inline-block;
    width: 47px;
    margin-left: 12px;
    @include md-screens() {
      width: 77px;
      margin-left: 24px;
    }
  }
  .links-2 {
    // grid-column: 8 / 13;
    // align-self: end;
    display: inline-block;
    width: 47px;
    margin-left: 12px;
    @include md-screens() {
      width: 77px;
      margin-left: 24px;
    }
  }
  .copy {
    // grid-column: 4 / 5;
    // align-self: end;
    // position: relative;
    // top: 3px;
    display: inline-block;
    height: 30px;
    width: 40px;
    margin-left: 12px;
    position: relative;
    @include md-screens() {
      height: 50px;
      width: 67px;
      top: 5px;
      margin-left: 24px;
    }    
  }
  .ae {
    // grid-column: 1 / 3;
    // @extend .t-right;
    // align-self: end;
    // position: relative;
    // top: 10px;
    display: inline-block;
    height:30px;
    width: 83px;
    position: relative;
    @include md-screens() {
      max-height: 50px;
      width: 108px;
      top: 10px;
    }    
  }
}




.grid-margins {
  padding: unquote(($base-unit * 2) + 'px'); 
}
.grid-margin-bottom {
  padding-bottom: unquote(($base-unit * 2) + 'px'); 
}
.btn {
  @extend .sm-type;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  text-decoration: none;
  padding: 4px 7px;
  position: relative;
  text-transform: inherit;
  top: -5px;
  left: 6px;
  &:hover {
    color: $light-gray;
    background: black;
  }
}


// INFO PAGE STYLES
.info-page {
  background: linear-gradient($purple, $purple, $light-gray);
  .headline {
    @include md-screens() {
      font-size: clamp( $xl-type-min, $xl-scaler, $xl-type-max );
      line-height: 100%;
      letter-spacing: -1px;
    }
  }
  .info-main-content {
    display: grid;
    p {
      &:not(:last-child)  {
        margin-bottom: 12px;
      }
    }
    h3 {
      margin-bottom: unquote(($base-unit * 2) + 'px');
      text-transform: uppercase;
    }
    .info-dtls {
      margin-top: 60px;
      @include md-screens() {
        margin-top: 0;
      }
    }
  }
  .info-gallery {
    display: none;
    border-radius: 30px;
    filter: saturate(0);
    mix-blend-mode: multiply;
    @include md-screens() {
      display: grid;
    }
    
    .gallery-imgs { 
      width: 100%;
      grid-column: 1 / 5;
      align-self: end;
      position: relative;
      .image {
        position: absolute;
        left:0;
        width: 100%;
        height: auto;
        bottom: 0;
        opacity: 0;
        transition: opacity .2s;
        &.active {
          opacity: 1;
        } 
      }
    }
    .gatsby-image-wrapper img {
      border-radius: 30px;
    }
  }  
  .info-dets {
    h4 {
      text-transform: uppercase;
      margin-bottom: unquote(($base-unit) + 'px');
    }
    .block {
      margin-bottom: unquote(($base-unit * 4) + 'px');
    }
  }
}

// NAV
.navigation {
  position: fixed;
  right: 24px;
  top: 24px;
  text-align: right;
  z-index: 5;
  a {
    background-color: black;
    color: $light-gray;
    padding: unquote(($base-unit * .5) + 'px') unquote(($base-unit * 1) + 'px');
    margin-bottom: unquote(($base-unit * .5) + 'px');
    display: inline-block;
    border-radius:unquote(($base-unit * 1.5) + 'px');
    &:hover {
      background-color: #24FF00;
      color: black;
    }
  }
}
.info-page {
  .info-link {
    color: black;
    background-color: $green;
  }
}

// HP STYLES
.homepage {
  background: linear-gradient($light-gray, $light-gray, $light-gray, $light-gray, $light-gray, $light-gray, $green);
  background-size: 100% 100%;
	animation: animategradient 1.5s ease forwards;
	animation-delay: 4.5s;
  position: absolute;
  height: 100%;
  width: 100%;
  
  .navigation {
    opacity: 0;
    animation: fadein 1.5s ease forwards;
    animation-delay: 4.5s;
  }
  .footer {
    opacity: 0;
    animation: fadein 1.5s ease forwards;
    animation-delay: 4.5s;
    position: absolute;
    bottom:24px;
    left: 24px;
    z-index: 4;
  }
}
.headline {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
}
.loadin {
  opacity: 0;
  animation-delay: 6s;
  animation-duration: .4s;
  animation-name: loadin;
  animation-fill-mode: forwards;
}

@keyframes loadin {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.gallery-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  left: 100%;
  transform: scale(0.95);
  transition: transform 1s;
  z-index: 4;
  &.active {
    left: 0;
    opacity: 1;
    display: grid;
    transform: scale(1)
  } 
  a {
    .description {
      position: absolute;
      top:0;
      left:0;
      opacity: 0;
      h3 {
        z-index: 999;
        color: black;
        
        .arrow {
          position:relative;
          top: 3px;
          // svg {
          //   stroke: black;
          //   fill: black;
          // }
        }
      }
      
    }
    &:hover {
      .description {
        opacity: 1;  
        transition: .25s;
        transition-delay: 250ms;
        transition-property: opacity;
      };
    }    
  } 
  .gallery-img {
    &.portrait, &.square {
      grid-column: 3 / 11;
      @include md-screens() {
        grid-column: 5 / 9;
      }
      @include lg-screens() {
        grid-column: 5 / 9;
      }      
      @include xl-screens() {
        grid-column: 5 / 9;
      }
    }
    &.landscape {
      grid-column: 2 / 12;
      @include md-screens() {
        grid-column: 3 / 11;
      }
      @include lg-screens() {
        grid-column: 4 / 10;
      }      
      @include xl-screens() {
        grid-column: 4 / 10;
      }
    }
    img, video {
      width: 100%;
      height: auto;
      border-radius: 30px;
    }
  }
}
.hp-bottom {
  min-height: 80vh;
  @include sm-screens() {
    min-height: 120vh;
  }
}
.hp-box-1 {
  border-right: 2px solid black;
  @include sm-screens() {
    border-right: 0px solid black;
    min-height: 60vh;
    padding-bottom: unquote(($base-unit * 2) + 'px');
  }
}
.hp-box-2 {
  align-self: end;
}

.diversity {
  position: absolute;
  top:50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  height: 300px;
  width: 300px;
  align-self: center;
  z-index: 2;
  opacity: 0;
  animation: fadeinout 5s ease forwards;
  @include md-screens() {
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;    
  }

  canvas {
    width: 100%!important;
    height: 100%!important;
  }
}
.description {
  align-self: end;
}

.footer-container {
  padding: 0 unquote(($base-unit * 2) + 'px');
}


// ARCHIVE PAGE
.archive-page {
  background: linear-gradient($purple, $light-gray, $light-gray);
  
  .navigation a.archive-link {
    background: $green;
    color: black;
  }
  .header {
    color: white;
  }
  .header a {
    color: white;
    &:hover {
      color: $green;
    }
  }
  .main-content {
    margin-top: unquote(($base-unit * 12) + 'px');
  }
  .work-list {

    li {
      margin: unquote(($base-unit * 4) + 'px') 0;
    }
    a {
      .text {
        position: relative;
        display: inline-block;
        z-index: 1;
        color: white;
        mix-blend-mode: difference;
        padding-left: 0;
        transition: padding .4s;
      }
      h3 {
        @extend .xl-type;
        display: inline;  
      }
      p {
        @extend .sm-type;
        position: absolute;
        top: 0px;
        right: -50px;
        display: inline;
        @include lg-screens() {
          top: 6px;
          right: -70px;
        }
      }
      .key-art {
        pointer-events: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
        transform: scale(0.95);
        transition: transform .6s;
      }
      &:hover {
        .text {
          padding-left: unquote(($base-unit * 6) + 'px');
        }
        .key-art {
          grid-template-columns: repeat(12, 1fr);
          opacity: 1;
          transform: scale(1);
        }
      }
    }


    .portrait {
      grid-column: 3 / 11;
      @include md-screens() {
        grid-column: 5 / 9;
      }
      @include lg-screens() {
        grid-column: 5 / 9;
      }      
      @include xl-screens() {
        grid-column: 5 / 9;
      }
    }
    .square {
      grid-column: 3 / 11;
      @include md-screens() {
        grid-column: 5 / 9;
      }
      @include lg-screens() {
        grid-column: 5 / 9;
      }      
      @include xl-screens() {
        grid-column: 5 / 9;
      }
    }
    .landscape {
      grid-column: 2 / 12;
      @include md-screens() {
        grid-column: 3 / 11;
      }
      @include lg-screens() {
        grid-column: 4 / 10;
      }      
      @include xl-screens() {
        grid-column: 4 / 10;
      }
    }
    img, video {
      width: 100%;
      height: auto;
      border-radius: 30px;
    }


  }
  .work-grid {
    margin-top: unquote(($base-unit * 2) + 'px');
    @extend .twelve-col;
    &:hover {
      color: black;
      text-decoration: underline;
      
    }
    .image {
      grid-column: 1 / 4;
    }
    .description {
      grid-column: 4 / 12;
      padding-left: unquote(($base-unit * 2) + 'px');
      
    }
  }
  .portrait {
    aspect-ratio: 4 / 6;
    align-self: center;
  }
  .landscape {
    aspect-ratio: 6 / 4;
    align-self: center;
  }
  .square {
    aspect-ratio: 1 / 1;
    align-self: center;
  }       
       
  img, video {
    max-width: 100%;
    height: auto;
  }
  // .footer {
  //   a {
  //     // color: white;
  //     &:hover {
  //       color: $green;
  //     }
  //   }
  //   svg path {
  //     // fill: white;
  //   }
  // }
}

//WORK DETAIL PAGE
.work-dtl-page {
  background: black;
  color: white;
  .work-dtl-nav {
    color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    li {
      display: inline-block;
      padding: unquote(($base-unit *2) + 'px') 0 unquote(calc($base-unit * 2) + 'px') unquote(calc($base-unit * 2) + 'px');
    }
    a {
      color: white;
      padding: unquote(calc($base-unit / 2) + 'px') unquote(($base-unit) + 'px') unquote(calc($base-unit / 2 - 1) + 'px');
      border: 1px solid white;
      display: inline-block;
      border-radius: 6px;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
  .work-content {
    position: relative;
    .centered {
     .centered-asset {
      grid-column: 3/11;
      padding: unquote(($base-unit * 6) + 'px') 0;
     }
    }
    .repeat {
      .repeat-1 {
        grid-column: 1/5;
      }
      .repeat-2 {
        grid-column: 5/9;
      }      
      .repeat-3 {
        grid-column: 9/13;
      }
    }
    .asset {
      line-height: 0;
    }
    img, video {
      width: 100%;
      height: auto;
      line-height: 0;
    }
  }
  .info-bar {
    @extend .sm-type;
    line-height: 1;
    position: sticky;
    border-radius: 30px; 
    background: $purple;
    color: black;
    padding: unquote(($base-unit * 2) + 'px');
    margin: unquote(($base-unit * 2) + 'px');
    left: 0;
    bottom: unquote(($base-unit * 2) + 'px');
    h1 {
      padding-right: 24px;
    }
    h1, a {
      @extend .sm-type;
      color: black;
    }
    a {
      &:hover {
        color: $green;
      }
    }
    .box-2 {
      text-align: right;
    }
  }
  .block {
    margin-top: unquote(($base-unit * 9) + 'px');
    &.double-m {
      margin: unquote(($base-unit * 18) + 'px') 0;
    }
  }
  .footer {
    a {
      color: white;
      &:hover {
        color: $green;
      }
    }
    svg path {
      fill: white;
    }
  }
}

.team {
  a {
    color: white;
    &:hover {
      color: $green;
    }
  }
  h3 {
    margin-bottom: 12px;
    @extend .sm-type;
    text-transform: uppercase;
  }
  li {
    @extend .sm-type;
    margin-bottom: 6px;
  }
}
.team a {
  color: white;
}


@keyframes fadeout {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadein {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}


@keyframes fadeinout {
	0% {
		opacity: 0%;
	}
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
	100% {
		opacity: 0%;
	}
}


@keyframes animategradient {
	0% {
		background-size: 100% 100%;
	}
	100% {
		background-size: 100% 120%;
	}
}